In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
df = pd.read_csv("info.csv").iloc[:,1:]

In [3]:
df

,Your name,First Person,Second person,Third person,Fourth person,Fifth person
0,1,13.0,12.0,78.0,8.0,34.0
1,2,61.0,42.0,39.0,3.0,69.0
2,3,61.0,39.0,2.0,69.0,44.0
3,4,37.0,21.0,14.0,28.0,51.0
4,5,43.0,7.0,30.0,41.0,32.0
...,...,...,...,...,...,...
89,90,NaN,NaN,NaN,NaN,NaN
90,91,NaN,NaN,NaN,NaN,NaN
91,92,NaN,NaN,NaN,NaN,NaN
92,93,NaN,NaN,NaN,NaN,NaN
93,94,NaN,NaN,NaN,NaN,NaN

In [76]:
class Evaluation:                                  
    def EvaluateHappiness2(self):
        
        Done = []
        for Level in range(1,6):
            
            HappyPeople = []
            NoPreferences = []
            UnHappyPeople = []
            
            for row in range(10):
                for col in range(10):
                    person = self.Chart[row][col]
                    if person==0: break

                    if self.NaPerson(person): 
                        NoPreferences.append(person)
                        continue

                    choices = self.getChoices(person)
                    
                    if col!=9:
                        p = self.Chart[row][col+1]
                        rank = self.rank(p,choices)
                        if rank == Level and person not in HappyPeople and person not in Done: 
                            HappyPeople.append(person)
                        
                        
                    if col!=0:
                        p = self.Chart[row][col-1]
                        rank = self.rank(p,choices)
                        if rank == Level and person not in HappyPeople and person not in Done:
                            HappyPeople.append(person)
                        
                        
           
            print("Level %s, # of people %s" %(Level, len(HappyPeople)))
            Done += HappyPeople
                            
        print("# of people No Preferences", len(NoPreferences))
        
        print("Not in Top 5:", 94-len(NoPreferences)-len(Done))
        print("Not in Top 5:", UnHappyPeople)

In [77]:

class Students(Evaluation):
    df = pd.read_csv("info.csv").iloc[:,1:]
    df = df.set_index("Your name")
    def __init__(self):
        self.matches()
        self.idealPairs()
        
        self.stringPairs = []
        self.people = list(self.df.index)
        
        self.Chart = np.zeros((10,10))

      
        #self.Chart[0][0] = 40
        #print(self.lowestCompositeScore(0,1))
        self.createString(0,0)
        print(self.Chart)
        self.EvaluateHappiness()
        self.EvaluateHappiness2()
        
        
    def makeDict(self, person1, rank1, person2, rank2):
        return {"person1":person1,"rank1":rank1,"person2":person2, "rank2":rank2}
    def matches(self):
        matches = []
        for person,rankings in self.df.iterrows():
                for rank1,rankedPerson in enumerate(rankings):
                    if not pd.isnull(rankedPerson):
                        OtherPersonChoices = self.getChoices(rankedPerson)
                        if person in OtherPersonChoices:
                            if person > rankedPerson: continue #don't want duplicates if they overlap it will be added by first person
                            rank2 = OtherPersonChoices.index(person)
                            matches.append(self.makeDict(person,rank1+1,rankedPerson,rank2))
                        elif np.isnan(OtherPersonChoices).all():
                            matches.append(self.makeDict(person,rank1+1,rankedPerson,None))
        self.matches = matches
    def idealPairs(self):
        self.firsts = []
        for pair in self.matches:
            if pair["rank1"] in [1,2,None] and pair["rank2"] in [1,2,None]:
                self.firsts.append(pair)
                
    def getPeople(self,pair):
        return [pair["person1"],pair["person2"]]
    
    def CompositeScore(self, pair):
        rank1 = pair["rank1"]
        rank2 = pair["rank2"]
        totalRank = rank2*2 if rank1 == None else (rank1*2 if rank2==None else rank1+rank2)
        return totalRank
    
    def findOtherPerson(self,pair, person):
        return pair["person1"] if person != pair["person1"] else pair["person2"]
    
    def findMatchPeople(self,matchesLeft,personLeft, matchesAbove, personAbove):
        peopleLeft = [self.findOtherPerson(pair, personLeft) for pair in matchesLeft]
        peopleAbove = [self.findOtherPerson(pair, personAbove) for pair in matchesAbove]
        return list(set(peopleLeft).union(set(peopleAbove)))
    
    def samePeople(self,pair, p1,p2):
        np1, np2 = pair["person1"],pair["person2"]
        if (np1 == p1 and np2==p2) or (np2 == p1 and np1==p2):
            return True
        return False
    
    
    def getMatch(self,p1,p2):
        match = [pair for pair in self.matches if self.samePeople(pair,p1,p2)]
        if len(match)==0:return None
        return match[0]
    
    def scorePair(self, pair):
        rank1 = pair["rank1"]
        rank2 = pair["rank2"]
        totalRank = rank2*2 if rank1 == None else (rank1*2 if rank2==None else rank1+rank2)
        return totalRank
    
    def CompositeScore(self,person,personLeft, personAbove):
        
        matchLeft = self.getMatch(person,personLeft)
        matchAbove = self.getMatch(person,personAbove)
        
        if matchAbove == None:
            totalRankLeft = self.scorePair(matchLeft)
            return totalRankLeft
        if matchLeft == None:
            totalRankAbove = self.scorePair(matchAbove)
            return 100+totalRankAbove
        
        totalRankLeft = self.scorePair(matchLeft)
        totalRankAbove = 12-self.scorePair(matchAbove)
        return totalRankLeft-.5*(totalRankAbove)
        
    def lowestCompositeScore(self, row,col):
        
        personLeft = 0 if col==0 else self.Chart[row][col-1]
        personAbove = 0 if row==0 else self.Chart[row-1][col]
        if (personLeft==0 and personAbove==0): return None
        matchesLeft = self.getMatches(personLeft)
        matchesAbove = self.getMatches(personAbove)
 
        
        peopleOptions = self.findMatchPeople(matchesLeft,personLeft,matchesAbove, personAbove)
        peopleOptions = [person for person in peopleOptions if person in self.people]
        if len(peopleOptions)==0: return None
        scores = [self.CompositeScore(person, personLeft, personAbove) for person in peopleOptions]
        minScore = min(scores)
        bestPerson = peopleOptions[scores.index(minScore)]
        return bestPerson
        
    def getChoices(self,p):
        return list(self.df.loc[p])
    
    
    def createString(self, row=0, col=0):
        newPerson = self.lowestCompositeScore(row, col)
        
        if newPerson==None:
            if len(self.people)==0:return
            newPerson = random.choice(self.people)
            
        
        self.Chart[row][col] = newPerson
        self.people = self.removePersonFromPeople(newPerson, self.people)
        
        if row==9 and col==9: return
        if col==9: 
            col =0
            row += 1
        else: col+=1
        
        
        return self.createString(row, col)
    
    def removePersonFromMatches(self,person):
        return [pair for pair in matches if not (pair["person1"]==person or pair["person2"]==person)]
    
    def removePersonFromPeople(self,p, people):
        return [person for person in people if person != p]
        
                
    def getMatches(self,person):
        return [pair for pair in self.matches if pair["person1"]==person or pair["person2"]==person]
    
    def rank(self,p,choices):
        if p in choices: return choices.index(p)+1
        return None
    
    def NaPerson(self,person):
        choices = self.getChoices(person)
        return np.isnan(choices).all()
    
    def EvaluateHappiness(self):
        
        Done = []
        for Level in range(1,6):
            HappyPeople = []
            NoPreferences = []
            for row in range(10):
                for col in range(10):
                    person = self.Chart[row][col]
                    if person==0: break

                    if self.NaPerson(person): 
                        NoPreferences.append(person)
                        continue

                    choices = self.getChoices(person)
                    
                    if col!=9:
                        p = self.Chart[row][col+1]
                        rank = self.rank(p,choices)
                        if rank == Level and person not in HappyPeople and person not in Done: 
                            HappyPeople.append(person)
                            
                    if col!=0:
                        p = self.Chart[row][col-1]
                        rank = self.rank(p,choices)
                        if rank == Level and person not in HappyPeople and person not in Done:
                            HappyPeople.append(person)
            print("Level %s, # of people %s" %(Level, len(HappyPeople)))
            Done += HappyPeople
                            
        print("# of people No Preferences", len(NoPreferences))
        
        print("Not in Top 5:", 94-len(NoPreferences)-len(Done))

In [78]:
obj = Students()

[[94. 62. 67. 68. 79. 71. 80. 54. 56. 77.]
 [ 4. 37. 21. 38. 51. 28.  6. 84. 10. 29.]
 [14. 58. 81. 91. 49.  9. 89. 70. 61.  3.]
 [ 1. 13. 12.  8. 78. 74. 33. 15. 34. 35.]
 [16. 45. 17. 48. 26. 64. 44. 76. 52. 18.]
 [53. 22. 57. 40. 19. 25. 85. 75. 83. 59.]
 [72. 93. 63. 24. 47. 50. 73. 82. 36. 43.]
 [ 5.  7. 42. 69. 39.  2. 46. 32. 41. 30.]
 [66. 88. 65. 87. 31. 27. 86. 92. 55. 90.]
 [20. 60. 23. 11.  0.  0.  0.  0.  0.  0.]]
Level 1, # of people 55
Level 2, # of people 7
Level 3, # of people 5
Level 4, # of people 1
Level 5, # of people 2
# of people No Preferences 18
Not in Top 5: 6
Level 1, # of people 33
Level 2, # of people 20
Level 3, # of people 8
Level 4, # of people 4
Level 5, # of people 5
# of people No Preferences 18
Not in Top 5: 6
Not in Top 5: [6.0, 47.0, 46.0, 20.0, 23.0, 11.0]

In [54]:
obj = Students()

[[81. 58. 14. 38. 21.  4. 37. 28. 51. 33.]
 [72. 59. 83. 20. 57. 40. 19. 25. 22. 53.]
 [93. 84. 75. 52. 76. 44. 64. 26. 48. 45.]
 [94. 62. 67. 68. 79. 71. 80. 54. 56. 16.]
 [13.  1. 12.  8. 78. 74.  6. 65. 87. 29.]
 [60. 34. 15. 27. 86. 31. 61.  3. 39.  2.]
 [89. 70. 46. 36. 82. 32. 41. 30. 69. 42.]
 [66. 88. 77. 43.  7.  5. 47. 90. 49.  9.]
 [92. 91. 11. 18. 55. 23. 63. 24. 50. 73.]
 [35. 85. 17. 10.  0.  0.  0.  0.  0.  0.]]
Level 1, # of people 54
Level 2, # of people 8
Level 3, # of people 2
Level 4, # of people 0
Level 5, # of people 1
# of people No Preferences 18
Not in Top 5: 11

In [7]:
df = df.set_index("Your name")

In [37]:
df

,First Person,Second person,Third person,Fourth person,Fifth person
Your name,,,,,
1,13.0,12.0,78.0,8.0,34.0
2,61.0,42.0,39.0,3.0,69.0
3,61.0,39.0,2.0,69.0,44.0
4,37.0,21.0,14.0,28.0,51.0
5,43.0,7.0,30.0,41.0,32.0
...,...,...,...,...,...
90,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN

In [120]:
graph = [[36. 82. 32. 41. 30. 74. 78.  8. 12.  1.]
 [43.  7. 42. 69. 39.  3. 61.  2. 13. 34.]
 [ 5. 28. 51. 38. 21.  4. 37. 81. 58. 14.]
 [59. 83. 20. 57. 40. 19. 25. 22. 53. 85.]
 [72. 93. 80. 54. 56. 18. 52. 76. 44. 64.]
 [50. 73. 68. 67. 33. 15. 75. 84. 10. 29.]
 [48. 26. 47. 62. 94. 65. 87. 77. 88. 66.]
 [45. 16. 17. 60. 79. 71.  6. 92. 89. 70.]
 [90. 49.  9. 24. 63. 31. 27. 86. 35. 91.]
 [46. 11. 23. 55.  0.  0.  0.  0.  0.  0.]]

In [258]:
df.loc[17]

First Person     45.0
Second person    48.0
Third person     16.0
Fourth person     NaN
Fifth person      NaN
Name: 17, dtype: float64

In [109]:
matches = []
for person,choices in df.iterrows():
        for rank1,choice in enumerate(choices):
            if person > choice: continue
            if not pd.isnull(choice):
                OtherPersonChoices = list(df.loc[choice])
                if person in OtherPersonChoices:
                    rank2 = OtherPersonChoices.index(person)
                    matches.append({"person1":person,"rank1":rank1+1,"person2":choice, "rank2":rank2+1})
                elif np.isnan(OtherPersonChoices).all():
                    matches.append({"person1":person,"rank1":rank1+1,"person2":choice, "rank2":None})

In [35]:
list({1,2}[0]

<>:1: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
<ipython-input-35-0f6b093925eb>:1: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
  {1,2}[0]

TypeError: 'set' object is not subscriptable

In [112]:
    def samePeople(self,pair, p1,p2):
        np1, np2 = pair["person1"],pair["person2"]
        if (np1 == p1 and np2==p2) or (np2 == p1 and np1==p2):
            return True
        return False
    
    
    def removeMatch(self,p1,p2, matches):
        return [pair for pair in matches if not self.samePeople(pair,p1,p2)]
    def verticle(self,row,col):
        verticle = []
        if row!=0:
            verticle.append(self.Chart[row-1][col])
        if row!=10:
            verticle.append(self.Chart[row+1][col])
        return verticle

[[1, 13.0],
 [1, 12.0],
 [3, 61.0],
 [3, 39.0],
 [4, 37.0],
 [4, 21.0],
 [5, 43.0],
 [7, 43.0],
 [7, 42.0],
 [8, 78.0],
 [9, 49.0],
 [10, 84.0],
 [10, 29.0],
 [14, 58.0],
 [15, 34.0],
 [15, 33.0],
 [16, 45.0],
 [18, 52.0],
 [19, 25.0],
 [19, 40.0],
 [20, 83.0],
 [21, 38.0],
 [22, 53.0],
 [22, 57.0],
 [26, 48.0],
 [26, 64.0],
 [27, 86.0],
 [27, 31.0],
 [28, 51.0],
 [29, 87.0],
 [31, 86.0],
 [33, 34.0],
 [36, 82.0],
 [38, 51.0],
 [40, 57.0],
 [42, 69.0],
 [44, 64.0],
 [45, 48.0],
 [50, 73.0],
 [52, 76.0],
 [53, 85.0],
 [54, 56.0],
 [54, 80.0],
 [58, 81.0],
 [59, 83.0],
 [59, 72.0],
 [65, 87.0],
 [65, 84.0],
 [66, 88.0],
 [67, 68.0],
 [68, 79.0],
 [70, 89.0],
 [72, 83.0],
 [75, 84.0],
 [77, 88.0]]

In [97]:
np.isnan([1,2,np.nan]).all()

False

In [82]:
df.loc[13]

First Person      1.0
Second person    78.0
Third person     12.0
Fourth person    34.0
Fifth person     15.0
Name: 13, dtype: float64

In [74]:
matches

[{'person1': 1, 'rank1': 1, 'person2': 13.0, 'rank2': 1},
 {'person1': 1, 'rank1': 2, 'person2': 12.0, 'rank2': 1},
 {'person1': 1, 'rank1': 3, 'person2': 78.0, 'rank2': 2},
 {'person1': 1, 'rank1': 4, 'person2': 8.0, 'rank2': 3},
 {'person1': 1, 'rank1': 5, 'person2': 34.0, 'rank2': 3},
 {'person1': 2, 'rank1': 1, 'person2': 61.0, 'rank2': 3},
 {'person1': 2, 'rank1': 2, 'person2': 42.0, 'rank2': 5},
 {'person1': 2, 'rank1': 3, 'person2': 39.0, 'rank2': 2},
 {'person1': 2, 'rank1': 4, 'person2': 3.0, 'rank2': 3},
 {'person1': 2, 'rank1': 5, 'person2': 69.0, 'rank2': 4},
 {'person1': 3, 'rank1': 1, 'person2': 61.0, 'rank2': 1},
 {'person1': 3, 'rank1': 2, 'person2': 39.0, 'rank2': 1},
 {'person1': 3, 'rank1': 4, 'person2': 69.0, 'rank2': 5},
 {'person1': 4, 'rank1': 1, 'person2': 37.0, 'rank2': 2},
 {'person1': 4, 'rank1': 2, 'person2': 21.0, 'rank2': 2},
 {'person1': 4, 'rank1': 3, 'person2': 14.0, 'rank2': 5},
 {'person1': 4, 'rank1': 4, 'person2': 28.0, 'rank2': 4},
 {'person1': 4, 'rank1': 5, 'person2': 51.0, 'rank2': 4},
 {'person1': 5, 'rank1': 1, 'person2': 43.0, 'rank2': 2},
 {'person1': 5, 'rank1': 2, 'person2': 7.0, 'rank2': 3},
 {'person1': 7, 'rank1': 1, 'person2': 43.0, 'rank2': 1},
 {'person1': 7, 'rank1': 2, 'person2': 42.0, 'rank2': 1},
 {'person1': 7, 'rank1': 4, 'person2': 36.0, 'rank2': 5},
 {'person1': 8, 'rank1': 1, 'person2': 78.0, 'rank2': 1},
 {'person1': 8, 'rank1': 2, 'person2': 12.0, 'rank2': 4},
 {'person1': 9, 'rank1': 1, 'person2': 49.0, 'rank2': 1},
 {'person1': 10, 'rank1': 2, 'person2': 29.0, 'rank2': 2},
 {'person1': 12, 'rank1': 3, 'person2': 13.0, 'rank2': 3},
 {'person1': 14, 'rank1': 1, 'person2': 58.0, 'rank2': 1},
 {'person1': 14, 'rank1': 2, 'person2': 38.0, 'rank2': 3},
 {'person1': 15, 'rank1': 1, 'person2': 34.0, 'rank2': 1},
 {'person1': 15, 'rank1': 2, 'person2': 33.0, 'rank2': 1},
 {'person1': 16, 'rank1': 1, 'person2': 45.0, 'rank2': 1},
 {'person1': 16, 'rank1': 2, 'person2': 17.0, 'rank2': 3},
 {'person1': 16, 'rank1': 4, 'person2': 49.0, 'rank2': 3},
 {'person1': 17, 'rank1': 1, 'person2': 45.0, 'rank2': 3},
 {'person1': 17, 'rank1': 2, 'person2': 48.0, 'rank2': 4},
 {'person1': 18, 'rank1': 1, 'person2': 52.0, 'rank2': 2},
 {'person1': 18, 'rank1': 2, 'person2': 76.0, 'rank2': 3},
 {'person1': 19, 'rank1': 1, 'person2': 25.0, 'rank2': 1},
 {'person1': 19, 'rank1': 2, 'person2': 40.0, 'rank2': 2},
 {'person1': 21, 'rank1': 1, 'person2': 38.0, 'rank2': 1},
 {'person1': 21, 'rank1': 3, 'person2': 37.0, 'rank2': 1},
 {'person1': 21, 'rank1': 4, 'person2': 28.0, 'rank2': 2},
 {'person1': 22, 'rank1': 1, 'person2': 53.0, 'rank2': 1},
 {'person1': 22, 'rank1': 4, 'person2': 40.0, 'rank2': 4},
 {'person1': 22, 'rank1': 5, 'person2': 25.0, 'rank2': 4},
 {'person1': 24, 'rank1': 1, 'person2': 63.0, 'rank2': 5},
 {'person1': 25, 'rank1': 2, 'person2': 40.0, 'rank2': 3},
 {'person1': 26, 'rank1': 1, 'person2': 48.0, 'rank2': 1},
 {'person1': 26, 'rank1': 2, 'person2': 64.0, 'rank2': 1},
 {'person1': 26, 'rank1': 3, 'person2': 47.0, 'rank2': 1},
 {'person1': 26, 'rank1': 4, 'person2': 50.0, 'rank2': 5},
 {'person1': 27, 'rank1': 2, 'person2': 31.0, 'rank2': 1},
 {'person1': 28, 'rank1': 1, 'person2': 51.0, 'rank2': 1},
 {'person1': 28, 'rank1': 3, 'person2': 37.0, 'rank2': 3},
 {'person1': 30, 'rank1': 1, 'person2': 41.0, 'rank2': 3},
 {'person1': 30, 'rank1': 2, 'person2': 32.0, 'rank2': 5},
 {'person1': 32, 'rank1': 1, 'person2': 41.0, 'rank2': 4},
 {'person1': 32, 'rank1': 4, 'person2': 42.0, 'rank2': 4},
 {'person1': 33, 'rank1': 2, 'person2': 34.0, 'rank2': 2},
 {'person1': 33, 'rank1': 3, 'person2': 67.0, 'rank2': 1},
 {'person1': 34, 'rank1': 4, 'person2': 35.0, 'rank2': 3},
 {'person1': 34, 'rank1': 5, 'person2': 78.0, 'rank2': 5},
 {'person1': 36, 'rank1': 2, 'person2': 43.0, 'rank2': 3},
 {'person1': 36, 'rank1': 4, 'person2': 46.0, 'rank2': 1},
 {'person1': 38, 'rank1': 2, 'person2': 51.0, 'rank2': 2},
 {'person1': 39, 'rank1': 3, 'person2': 61.0, 'rank2': 2},
 {'person1': 39, 'rank1': 4, 'person2': 69.0, 'rank2': 2},
 {'person1': 40, 'rank1': 5, 'person2': 53.0, 'rank2': 3},
 {'person1': 41, 'rank1': 2, 'person2': 42.0, 'rank2': 3},
 {'person1': 42, 'rank1': 2, 'person2': 69.0, 'rank2': 1},
 {'person1': 43, 'rank1': 4, 'person2': 46.0, 'rank2': 2},
 {'person1': 44, 'rank1': 1, 'person2': 64.0, 'rank2': 2},
 {'person1': 44, 'rank1': 2, 'person2': 73.0, 'rank2': 4},
 {'person1': 44, 'rank1': 4, 'person2': 76.0, 'rank2': 1},
 {'person1': 45, 'rank1': 2, 'person2': 48.0, 'rank2': 2},
 {'person1': 48, 'rank1': 3, 'person2': 50.0, 'rank2': 4},
 {'person1': 49, 'rank1': 4, 'person2': 78.0, 'rank2': 4},
 {'person1': 50, 'rank1': 1, 'person2': 73.0, 'rank2': 2},
 {'person1': 52, 'rank1': 1, 'person2': 76.0, 'rank2': 2},
 {'person1': 52, 'rank1': 3, 'person2': 75.0, 'rank2': 2},
 {'person1': 53, 'rank1': 5, 'person2': 72.0, 'rank2': 3},
 {'person1': 59, 'rank1': 2, 'person2': 72.0, 'rank2': 1},
 {'person1': 61, 'rank1': 5, 'person2': 69.0, 'rank2': 3},
 {'person1': 62, 'rank1': 1, 'person2': 67.0, 'rank2': 4},
 {'person1': 62, 'rank1': 2, 'person2': 68.0, 'rank2': 5},
 {'person1': 65, 'rank1': 4, 'person2': 77.0, 'rank2': 4},
 {'person1': 67, 'rank1': 2, 'person2': 68.0, 'rank2': 1},
 {'person1': 68, 'rank1': 2, 'person2': 79.0, 'rank2': 1},
 {'person1': 71, 'rank1': 1, 'person2': 79.0, 'rank2': 4},
 {'person1': 74, 'rank1': 1, 'person2': 78.0, 'rank2': 3},
 {'person1': 75, 'rank1': 3, 'person2': 76.0, 'rank2': 4}]